
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-image: url('https://www.cloudcenterandalucia.es/wp-content/uploads/2022/01/Hacker-vs-Cracker_Cloud-Center-Andaluc%C3%ADa_Principal.png');
    background-size: cover;
    background-position: center;
    color: #fff; /* Cambia el color del texto a blanco para mejor contraste */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
    color: #4a90e2; /* Puedes cambiar el color si es necesario */
}

#login-form, #register-form, #password-generator {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: 300px;
}

h2 {
    font-size: 75px;
    
    margin-bottom: 50px;
    color: #fff; /* Color blanco para los encabezados */
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #4a90e2;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4a90e2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #357ab8;
    transform: scale(1.05); /* Efecto de aumento en el hover */
}

#generated-password {
    margin-top: 20px;
    font-weight: bold;
    color: #4CAF50; /* Color verde para resaltar la contraseña generada */
}

.generador-titulo {
    color: transparent; /* Para ocultar el color original del texto */
    font-size: 24px; /* Ajusta el tamaño del texto según sea necesario */
    position: relative; /* Necesario para el posicionamiento */
}

.color {
    animation: colorChange 1s infinite;
}

@keyframes colorChange {
    0% { color: #4CAF50; }
    25% { color: #FF5733; }
    50% { color: #FFC300; }
    75% { color: #C70039; }
    100% { color: #4CAF50; }
}
