<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Aplicación Web{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='boton.css') }}">
</head>
<body>
    <header>
        <div class="access-linkss">
            <nav>
                <a href="{{ url_for('dashboard') }}" class="access-links1">Inicio</a>
                <a href="{{ url_for('logout') }}" class="access-links">Cerrar sesión</a>
            </nav>
          </div>
          
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
